body{
  background-color: #DAF7A6;
}

#container{
  display: flex;
  gap: 1rem;
}

#editor{
  padding: 1rem;
  width: 30%;
}

#preview{
  padding-inline: 1rem;
  width: 65%;
  border: 0.5px  #99a6a5  solid;
  background-color: white;
}

#preview img {
  max-width: 200px;
}

footer{
  text-align: center;
  font-size: small;
  margin-top: 1rem;
}

@media only screen and (max-width: 800px){
  #container{
    display: flex;
    flex-direction: column;
  }

  #editor{
    width: 50%;
    align-self: center;
  }

  #preview{
    width: 80%;
    align-self: center;
  }
  
}